.box {
  display: inline-block;
  width: 30%;
  padding: 7px; }
  .box__imgs {
    width: 100%;
    display: inline-block;
    border-radius: 13px; }
  .box__imgs:hover {
    -webkit-filter: blur(5px);
    filter: blur(5px); }
