.box {
    display: inline-block;
    width: 30%;
    padding: 7px;
    &__imgs {
        width: 100%;
        display: inline-block;
        border-radius: 13px;
    }
    &__imgs:hover {
        filter: blur(5px);
    }
}