.box_three {
    display: inline-block;
    width: 30%;
    padding: 7px;
    margin-top: 10px;
    vertical-align: top;
    border: 3px solid black;
    border-right: none;
    border-top: none;
    border-color: #819684;
    border-radius: 34px;
    &__paragraph {
        font-size: 15px;
        font-family:OpenSans,-apple-;
        text-align: left;
        color: #fff;
        line-height: 20px;
    }
    &__h3 {
        color: #000;
        font-size: 20px;
        font-family: serif;
    }
}