@import "normalize";
@import "box";
@import "box_two";
@import "box_three";
* {
    box-sizing: border-box;
}
body {
    background: #6e9be5;
    background: #4fc1e9;
    background: -moz-linear-gradient(left, #4fc1e9 0%, #444bc5 100%);
    background: -webkit-linear-gradient(left, #4fc1e9 0%, #444bc5 100%);
    background: linear-gradient(to right, #4fc1e9 0%, #444bc5 100%);
}
.container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
.h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: #000;
}
.a_style {
    text-decoration: none;
}
.input {
    outline: none;
    background: none;
    color:#fff;
    padding: 5px;
    border: none;
    font-size: 87px;
    margin-left: 15px;
    margin-top: -15px;
    font-family: sans-serif;
}
.icon {
    width: 87px;
    border-radius: 10px;
    vertical-align: top;
}
.icon:hover {
    border-radius: 70px;
}
.paragraph {
    font-size: 15px;
   font-variant: small-caps;
    color: #000;
}